@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
*{
	font-family:'Oswald';
	src:url('bacs200/css/fonts/Oswald.ttf') format('truetype');
}
p, h1, h2, h3
{
	font-family:'Oswald';
}
body
{
    background-color:#F2F6DA;
}
iframe
{
    width:70%;
    height:500px;
}
